@import 'vars'
.header
    width: 100%
    line-height: 1
    background: #FFFFFF
    position: sticky
    top: 0
    z-index: 2
    @media screen and ( min-width: $breackPoint )
        position: relative
    &::after
        content: ''
        display: block
        width: 100%
        height: 100%
        background: #FFFFFF
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        z-index: 50
    &__body
        width: 100%
        height: 68px
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        @media screen and ( min-width: $breackPoint )
            height: 110px
            border-bottom: 1px solid $Gray_blue
            position: relative
            z-index: 100
    &__left
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 14px
    &__burger
        width: 16px
        height: 20px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        position: relative
        z-index: 53
        @media screen and ( min-width: $breackPoint )
            display: none
    &__logo
        position: relative
        z-index: 53
    &__nav
        width: 250px
        height: 100vh
        padding: 20px
        background: #FFFFFF
        transition: left 0.6s
        position: fixed
        left: -100%
        top: 0
        bottom: 0
        z-index: 200
        ul
            list-style: none
            li
                margin: 1rem 0
                button
                    font-size: 1.1rem
                    font-weight: 700
                    background: none
                    border: none
                    @media screen and ( min-width: $breackPoint )
                        position: relative
                        &::after
                            content: ''
                            display: block
                            width: 100%
                            height: 4px
                            background: $Orange
                            position: absolute
                            bottom: -46px
                            transition: 0.3s
                            opacity: 0
                            pointer-events: none
                        &:hover
                            &::after
                                opacity: 1
        &._active
            left: 0
        @media screen and ( min-width: $breackPoint )
            width: auto
            height: auto
            padding: 0
            position: static
            left: auto
            top: auto
            bottom: auto
            ul
                margin: 0 0 0 20px
                li
                    margin: 0 15px
                    display: inline-block
                    button
                        font-size: 1rem
                        font-weight: 400
                        cursor: pointer
    &__nave-close
        margin: 0 0 50px 0
        display: inline-block
        cursor: pointer
        transition: 0.3s
        &:hover
            transform: rotate(-360deg)
        @media screen and ( min-width: $breackPoint )
            display: none
    &__right
        display: flex
        align-items: center
        justify-content: flex-end
        gap: 18px
        position: relative
        z-index: 53
    &__cart
        background: none
        border: none
        cursor: pointer
        position: relative
        &-value
            padding: 1px 6px
            font-size: 0.7rem
            line-height: 1
            color: #FFFFFF
            background: $Orange
            display: inline-block
            border-radius: 0.3rem
            position: absolute
            top: -6px
            right: -5px
    &__avatar
        width: 24px
        height: 24px
        background: none
        border-radius: 50%
        border: none
        outline: none
        img
            max-width: 100%
        @media screen and ( min-width: $breackPoint )
            width: 50px
            height: 50px
            max-width: 50px
            padding: 0
            display: block
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            overflow: hidden
            img
                width: 50px
                height: 50px
                object-fit: cover
            &:hover
                border: 2px solid $Orange
                    